
.movie-hero-container{
    display: flex;
    margin-top: 2rem;
}

.movie-sinopsis{
    font-weight: 300;
}

.movie-info{
    color: #fff;
    margin-left: 1rem;
}

.img-poster{
    height: 500px;
}

.stars-container{
    display: flex;
    margin-right: 1rem;

}

.rating-container{
    display: flex;
}

.lauch_date{
    color: #7DCE13;
}

.director{
    font-weight: 300;
}

.trailer-container{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.trailer-container h2{
   color: #F05454;
   text-transform: uppercase;
}

.not-found{
    color: #fff;
}

.five-pointed-star {
    --star-color:orange;

    font-size:.8em;
    position: relative;
    display: block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }
   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }
   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }