.movie-list-container{
    margin-top: 2rem;
}

.movie-list-head-tr{
    background-color: #20262E;
    color: #fff;

}

.table-movie-img{
    width: 80px;
    height: 120px;
}

.movie-list-tr:hover{

    background-color: #FFFBAC;
    
}

.five-pointed-star {
    --star-color:orange;
    margin:1em auto;
    font-size:0.5em;
    position: relative;
    display: inline-block;
    width: 0px;
    height: 0px;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(35deg);
   }
   .five-pointed-star:before {
    border-bottom: 0.8em solid var(--star-color);
    border-left: 0.3em solid transparent;
    border-right: 0.3em solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -0.45em;
    left: -0.65em;
    display: block;
    content:"";
    transform: rotate(-35deg);
   }
   .five-pointed-star:after {
    position: absolute;
    display: block;
    top: 0.03em;
    left: -1.05em;
    width: 0;
    height: 0;
    border-right: 1em solid transparent;
    border-bottom: 0.7em solid var(--star-color);
    border-left: 1em solid transparent;
    transform: rotate(-70deg);
    content:"";
   }

  .rating-number{
    color: #F2CD5C;
    font-weight: bold;
    font-size: 1.2em;
  }
   .td-rating{
    width: 20%;
   }

   .trash-icon{
    font-size: 1.2em;
    color: red;
    cursor: pointer;
   }